.main {
	width: 450px;
	margin: 0 auto;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
}

.city {
	font-size: 30px;
	font-family: Arial, sans-serif;
	color: #515151;
}

.city span { 
	font-size: 40px;
	color: #717171;	
}

input, select {
	height: 30px;
    line-height: 28px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #eee;
    width: 80%;
    outline: none;
    padding: 0 10px;
}

select {
	width: 85%;
}